allow_non_integral_charges                yes
compute_grids                             yes
grid_spacing                              0.4
output_molecule                           no
contact_score                             no
energy_score                              yes
energy_cutoff_distance                    10
atom_model                                a
attractive_exponent                       6
repulsive_exponent                        9
distance_dielectric                       yes
dielectric_factor                         4.   
bump_filter                               yes
bump_overlap                              0.75
receptor_file                             {receptor_file}
box_file                                  {box_file}
vdw_definition_file                       {dock6_path}parameters/vdw_AMBER_parm99.defn
score_grid_prefix                         {score_grid_prefix}