open {input_complex}.pdb
delete ligand
select protein
select invert
delete selected
addh
addcharge all spec #0 chargeModel 14sb method gas
minimize spec #0
write format mol2 #0 {receptor}.dockprep.mol2
close session
open {receptor}.dockprep.mol2
delete element.H
write format pdb #0 {receptor}.noH.pdb
close session
close all